<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.PharmacyMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Pharmacy">
    <id column="pharmacy_id" jdbcType="INTEGER" property="pharmacyId" />
    <result column="pharmacy_administration" jdbcType="INTEGER" property="pharmacyAdministration" />
    <result column="pharmacy_number" jdbcType="INTEGER" property="pharmacyNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    pharmacy_id, pharmacy_administration, pharmacy_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pharmacy
    where pharmacy_id = #{pharmacyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pharmacy
    where pharmacy_id = #{pharmacyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.java.entity.Pharmacy">
    insert into pharmacy (pharmacy_id, pharmacy_administration, 
      pharmacy_number)
    values (#{pharmacyId,jdbcType=INTEGER}, #{pharmacyAdministration,jdbcType=INTEGER}, 
      #{pharmacyNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Pharmacy">
    insert into pharmacy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pharmacyId != null">
        pharmacy_id,
      </if>
      <if test="pharmacyAdministration != null">
        pharmacy_administration,
      </if>
      <if test="pharmacyNumber != null">
        pharmacy_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pharmacyId != null">
        #{pharmacyId,jdbcType=INTEGER},
      </if>
      <if test="pharmacyAdministration != null">
        #{pharmacyAdministration,jdbcType=INTEGER},
      </if>
      <if test="pharmacyNumber != null">
        #{pharmacyNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Pharmacy">
    update pharmacy
    <set>
      <if test="pharmacyAdministration != null">
        pharmacy_administration = #{pharmacyAdministration,jdbcType=INTEGER},
      </if>
      <if test="pharmacyNumber != null">
        pharmacy_number = #{pharmacyNumber,jdbcType=INTEGER},
      </if>
    </set>
    where pharmacy_id = #{pharmacyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Pharmacy">
    update pharmacy
    set pharmacy_administration = #{pharmacyAdministration,jdbcType=INTEGER},
      pharmacy_number = #{pharmacyNumber,jdbcType=INTEGER}
    where pharmacy_id = #{pharmacyId,jdbcType=INTEGER}
  </update>
</mapper>